@*@model WmIdentity.Models.Product*@

@model WmIdentity.ViewModels.DetailsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SecundaryLayout.cshtml";
}
<div class="problemSolver"></div>
<div class="container">



    <!-- Product-->

    <div class="container padding50">
        <div class="row">
            <div class="col-lg-7">
                <div class="shop-single-item-photos">
                    <img src="~/Uploads/Products/@Model.Product.PhotoPath" alt="">


                   
                </div>

            </div>

            <div class="col-lg-5">
                <div class="shop-single-item">
                    <h2 class="shop-single-item-title">@Model.Product.Name</h2>
                    @* DESCRIPTION *@
                    <div class="shop-single-item-description justify">
                        <p>@Model.Product.Description</p>
                    </div>

              

                    <div class="form-row">
                        <div class="form-group col-md-6"><a class="btn btn-block btn-dark" asp-action="Contact" asp-controller="Products">Tenho interesse</a></div>
                    </div>
                    <hr class="m-t-30 m-b-30">
                    <div class="info-list">
                        <ul>
                            <li><span class="info-list-title">ID:</span><span>@Model.Product.Id</span></li>
                            <li><span class="info-list-title">Categoria: </span><span>@Model.Product.Category.ToString()</span></li>
                            <li>
                                <span class="info-list-title">Subcategorias: </span>
                                <span>

                                    @foreach (var item in Model.Product.ProductSubcategories)
                                    {
                                        <span> @item.SubCategory.Name </span>@:
                                    }


                                </span>
                            </li>
                        </ul>
                    </div>
                    <hr class="m-t-30 m-b-30">
                    <div class="info-list">
                        @* controle do admin *@
                        <div>
                            <div class="form-group">

                                <a asp-action="Index" class="btn btn-outline-warning"><span class="btn-icon-left fas fa-angle-double-left"></span>Voltar</a>
                                |
                                <a asp-action="Edit" asp-route-id="@Model.Product.Id" class="btn btn-primary"><i class="fas fa-cog"></i> Editar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product end-->

    <hr />

    @if (Model.RelatedProducts.Any())
    {

  
    <div class="container padding50">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <h1>Produtos Relacionados.</h1>
                <p class="lead">Veja abaixo produtos relacioandos com o produto procurado.</p>
            </div>

        </div>
        <hr />
        <div class="row">

            

            @foreach (var item in Model.RelatedProducts)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item margin-bottom-sm30">
                    <div class="card h-100">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="~/Uploads/Products/@item.PhotoPath" alt="teste"></a>



                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                            </h4>
                            <p class="card-text justify block-with-text">@item.Description</p>
                            


                        </div>
                        <a class="btn btn-sm btn-outline-warning   btn-brand" role="button" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Saiba mais</a>
                    </div>
                </div>

            }



          
        </div>
    </div>
    }
 </div>
